@import url('https://fonts.googleapis.com/css2?family=Jaro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

/* 상단 헤더 스타일 */
.header {
    width: 100%;
    padding: 5px 20px;
    background-color: #F1DCB7; /* 상단 컨테이너 박스 배경색 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .header-logo a {
    font-size: 1.5em;
    font-family: 'Jaro',sans-serif;
    color: white;
    text-shadow: 0px 2px 2px rgba(53, 53, 53, 0.2);
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .header-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Signika',sans-serif;
    text-shadow: 0px 2px 2px rgba(53, 53, 53, 0.2);
    text-decoration: underline; /* 기본 밑줄 */
    font-size: 1em;
    padding: 10px 20px;
  }
  
  .header-links a:hover {
    color: #725D39;
  }

  .logo-image {
    width: 100px; /* 로고 이미지 크기 조절 */
    height: auto;
  }

  /* 로딩 화면을 위한 스타일 */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

/* 애니메이션: 로딩 화면의 페이드 인 */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
  
  